<footer class="site-footer h-card full-width-footer">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <h2 class="footer-heading">{{ site.title | escape }}</h2>

  <div class="footer-col-wrapper">
    <div class="footer-col footer-col-1">
      <ul class="contact-list">
        <!-- <li class="p-name">
          {{ site.author | escape }} or {{ site.title | escape }}
        </li> -->
        <li class="site-footer">
          <img src="{{ 'assets/images/llnl-logo.jpg' | relative_url}}" alt="Logo LLNL" style="height: 50px; width: auto;"  />
          <img src="{{ 'assets/images/uconn-logo.png' | relative_url }}" alt="Logo UConn" style="height: 50px; width: auto;" />
          <img src="{{ 'assets/images/anl-logo.png' | relative_url }}" alt="Logo ANL" style="height: 50px; width: auto;"  />
        </li>

        <!--{%- if site.email -%}
        <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        {%- endif -%}-->
      </ul>
    </div>
    <div class="footer-col footer-col-2">
      {%- include social.html -%}
    </div>

    <div class="footer-col footer-col-3">
      <p>{{- site.description | escape -}}</p>
    </div>
  </div>
</footer>

