.full-width-header {
  width: 100%;
  background-color: #f8f9fa; /* Background color */
  padding: 20px 0;
  margin: 0;
}

.site-title {
  text-align: center;
}

.site-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.site-nav a {
  text-decoration: none;
  color: #333; /* Color */
}

.site-footer {
  max-width: 1200px;   /* Footer width */
  margin: 0 auto;      /* Center the footer horizontally */
  padding: 20px 0;     /* Adjust vertical spacing */
  background-color: #f8f9fa; /* Background color */
  text-align: center;  /* Center-align text content */
}

.footer-col-wrapper {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  max-width: 800px; /* Center content within the footer */
  margin: 0 auto;
  padding: 0 20px;
}

.footer-heading {
  text-align: center;
  margin-bottom: 10px;
}

.footer-logos {
  display: flex;
  justify-content: center;  /* Center logos horizontally */
  align-items: center;      /* Center logos vertically */
  gap: 60px;                /* Space between logos*/
}

.footer-logos img.footer-logo {
  height: 50px;  /* height */
  width: auto;   /* aspect ratio */
}
